* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 body {
    font-family: Arial, sans-serif;
    background: linear-gradient(-450deg, #86098a, #785a96, rgb(124, 8, 190));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
 }
 .container {
    background-color: #dacfe2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(33, 3, 48);
    width: 100%;
    max-width: 400px;
    text-align: center;
 }
 h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #000000;
 }
 .input-group {
    margin-bottom: 15px;
    text-align: left;
 }
 label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
 }
 input, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
 }
 button {
    width: 48%;
    padding: 10px;
    margin: 10px 1%;
    border: none;
    border-radius: 5px;
    background-color: #ae00ff;
    color: rgb(255, 255, 255);
    font-weight: bold;
    cursor: pointer;
 }
 button:hover {
    background-color: #ff00d4;
 }
 #result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #db1818;
 }
 @media (max-width: 600px) {
    .container {
        padding: 15px;
    }
    button {
        width: 100%;
        margin: 10px 0;
    }
 }